{% paginate collection.products by 12 %}
<!-- START EXCERPT -->
<h1>{{ collection.title | escape }}</h1>
<!-- END EXCERPT -->

{% if paginate.pages > 1 %}
<!-- START PAGINATE -->
<div id="paginate">
	<div>
		{{ paginate | default_pagination }}
	</div>
</div>
<!-- END PAGINATE -->
{% endif %}{% endpaginate %}

<!-- START PRODUCTS -->
{% if collection.products.size > 0 %}
	<div class="productWrapper">
	{% for product in collection.products %}
		<!-- START PRODUCT {{ forloop.index }} -->
		<div class="product">
			<a href="{{ product.url | within: collection }}">
				<img src="{{ product.images[0] | product_img_url: "medium" }}" alt="{{ product.images[0].alt | escape }}" width="223" />
				<p class="productName">{{ product.title | escape }}</p>
				<p class="productPrice">{{ product.price | money }}</p>
			</a>
		</div>
		<!-- END PRODUCT {{ forloop.index }} -->
		{% endfor %}
	</div>
{% else %}
	<p id="empty">There are no products in this collection.</p>
{% endif %}
<!-- END PRODUCTS -->