<h1>{{ collection.title | escape }}</h1>

{% paginate collection.products by 12 %}
	<div class="paginate"><div>
		{{ paginate | default_pagination }}
	</div></div>
	
	<div class="productWrapper">
		{% for product in collection.products %}
			<div class="product">
				<div class="imageblock"><div><div>
					<a href="{{ product.url | within: collection }}">
						<img src="{{ product.images[0] | product_img_url: "medium" }}" alt="{{ product.images[0].alt | escape }}" />
					</a>
				</div></div></div>

				<div class="title"><a href="{{ product.url | within: collection }}">
{{ product.title | escape }}<span class="price">{{ product.price | money }}</span>
				</a></div>
			</div>
		{% endfor %}
		
		<div class="clear"></div>
	</div>
	
	
	<div class="paginate"><div>
		{{ paginate | default_pagination }}
	</div></div>
{% endpaginate %}
