<h1>{{ collection.title | escape }}</h1>

{% paginate collection.products by 9 %}
	<div id="paginate"><div>
		{{ paginate | default_pagination }}
	</div></div>
	
	<div class="productWrapper">
		{% for product in collection.products %}
			<div class="product">
				<a href="{{ product.url | within: collection }}">
					<div class="image imageblock">
						<img src="{{ product.images[0] | product_img_url: "medium" }}" alt="{{ product.images[0].alt | escape }}" />
					</div>
					<p class="productName">{{ product.title | escape }}</p>
					<p class="productPrice">{{ product.price | money }}</p>
				</a>
			</div>
		{% endfor %}
	</div>
	
	<div id="paginate"><div>
		{{ paginate | default_pagination }}
	</div></div>
{% endpaginate %}
