<h1>{{ product.collections.first.title | escape }}</h1>

<div class="itemWrapper">
	<div class="productHeader">
		<h1 class="productName">{{ product.title | escape }}</h1>
		<p class="productPrice">{{ product.price | money }}</p>
	</div>
	
	<div class="leftSide">
		<div class="productImg">
			<img src="{{ product.images[0] | product_img_url: 'large' }}" alt="" width="366" />
			(ROLLOVER IMAGE TO ZOOM IN)
		</div>
		<div class="productThumbs">
			{% for image in product.images %}
			<a href="#"><img src="{{ image | product_img_url: 'compact' }}" alt="" class="imageblock" /></a>
			{% endfor %}
		</div>
		<div class="hr"></div>
	</div>
	
	<div class="rightSide">
		{{ product.description }}
		
		<div class="productAcc">
		</div>
		
		<div class="productPrices">
			
			
			<form method="post" action="/cart/add">
				{% if product.variants.size == 1 %}
					<input type="hidden" name="id" value="{{ product.variants.first.id }}" />
				{% else %}
					<!-- START VARIANTS -->
					{% for variant in product.variants %}
						{% if variant.available %}
							<input type="radio" id="variant_{{variant.id}}" name="id" value="{{ variant.id }}" />
							<label for="variant_{{variant.id}}"> {{ variant.price | money }} - {{ variant.title | escape }}</label><br/>
						{% endif %}
					{% endfor %}
					<!-- END VARIANTS -->
				{% endif %}
				
				<div class="hr"></div>
				
				<button>
					<div class="button"><span>
						Add to Cart
					</span></div>
				</button>
			</form>
			
		</div>
	</div>
</div>
