{% paginate search.results by 12 %}
	{% if search.results == empty %}
		<h1>No Results</h1>
		<p id="empty">Your search for "{{ search.terms | escape | downcase }}" did not yield any results.</p>
	{% else %}
		<h1>Results for "{{ search.terms | escape | downcase }}"</h1>
		
		{% if paginate.pages > 1 %}
			<div class="paginate"><div>
				{{ paginate | default_pagination }}
			</div></div>
		{% endif %}
		
		
		<div class="productWrapper">
			{% for item in search.results %}
				<div class="product">
					<div class="image imageblock"><div><div>
						<a href="{{ item.url | within: collections.all }}">
							<img src="{{ item.images[0] | product_img_url: "medium" }}" alt="{{ item.images[0].alt | escape }}" />
						</a>
					</div></div></div>
					
					<div class="title"><a href="{{ item.url | within: collections.all }}">
{{ item.title | escape }}<span class="price">{{ item.price | money }}</span>
					</a></div>
				</div>
			{% endfor %}
		
			<div class="clear"></div>
		</div>

		{% if paginate.pages > 1 %}
			<div class="paginate"><div>
				{{ paginate | default_pagination }}
			</div></div>
		{% endif %}
	{% endif %}
{% endpaginate %}