{% paginate search.results by 12 %}
	{% if search.results == empty %}
		<h1>No Results</h1>
		<p id="empty">Your search for "{{ search.terms | escape | downcase }}" did not yield any results.</p>
	{% else %}
		<h1>Results for "{{ search.terms | escape | downcase }}"</h1>
		
		{% if paginate.pages > 1 %}
			<div class="paginate"><div>
				{{ paginate | default_pagination }}
			</div></div>
		{% endif %}
		
		
		<div class="productWrapper">
			{% for item in search.results %}
				<div class="product">
					<a href="{{ item.url | within: collections.all }}">
						<div class="image imageblock">
							<img src="{{ item.images[0] | product_img_url: "medium" }}" alt="{{ item.images[0].alt | escape }}" />
						</div>
						<p class="productName">{{ item.title | escape }}</p>
						<p class="productPrice">{{ item.price | money }}</p>
					</a>
				</div>
			{% endfor %}
		
			<div class="clear"></div>
		</div>

		{% if paginate.pages > 1 %}
			<div class="paginate"><div>
				{{ paginate | default_pagination }}
			</div></div>
		{% endif %}
	{% endif %}
{% endpaginate %}